body{
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    margin-top: 100px;

}
form{
    background: white;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
}

input{
    padding: 8px;
    width: 200px;

}
button{
    padding: 8px , 20px;
    background-color: Black;
    color: white;
    border: inline;
    cursor: pointer;
}